{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        cljfx/cljfx {:mvn/version "1.7.6"}
        cljfx/css {:mvn/version "1.1.0"}
        org.apache.commons/commons-lang3 {:mvn/version "3.10"}
        com.vladsch.flexmark/flexmark {:mvn/version "0.62.0"}
        com.vladsch.flexmark/flexmark-ext-wikilink {:mvn/version "0.62.0"}
        com.vladsch.flexmark/flexmark-ext-autolink {:mvn/version "0.62.0"}}
 :aliases {:repl {:main-opts ["-m" "vlaaad.reveal" "repl"]}
           :prepl {:main-opts ["-m" "vlaaad.reveal" "io-prepl"]}
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.6.0"}}
                   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[vlaaad.reveal.nrepl/middleware]"]}
           :examples {:extra-paths ["examples"]
                      :extra-deps {integrant/integrant {:mvn/version "0.8.0"}
                                   ring/ring-jetty-adapter {:mvn/version "1.8.1"}
                                   ring/ring-core {:mvn/version "1.8.1"}}}
           :dev {:extra-paths ["dev"]
                 :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
           :optional {:extra-deps {lambdaisland/deep-diff2 {:mvn/version "2.0.0-93"}
                                   lambdaisland/deep-diff {:mvn/version "0.0-47"}}}
           :build {:extra-paths ["build"]
                   :jvm-opts ["-Dclojure.spec.skip-macros=true"]
                   :extra-deps {org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
                                clj-commons/pomegranate {:mvn/version "1.2.0"}}}
           :depstar {:extra-deps {seancorfield/depstar {:mvn/version "0.2.1"}}
                     :main-opts ["-m" "hf.depstar.jar"]}}}
