{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        cljfx {:mvn/version "1.7.2"}
        cljfx/css {:mvn/version "1.1.0"}}
 :aliases {:prepl {:main-opts ["-m" "vlaaad.reveal.prepl"]}
           :repl {:main-opts ["-m" "vlaaad.reveal.repl"]}
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.6.0"}}
                   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[vlaaad.reveal.nrepl/middleware]"]}
           :dev {:extra-paths ["dev"]
                 :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
           :build {:extra-paths ["build"]
                   :jvm-opts ["-Dclojure.spec.skip-macros=true"]
                   :extra-deps {org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}}}
           :depstar {:extra-deps {seancorfield/depstar {:mvn/version "0.2.1"}}
                     :main-opts ["-m" "hf.depstar.jar"]}
           :deploy {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"]}}}
